<h1>Categories</h1>

<%= link_to 'New Category', new_admin_category_path %>

<table>
  <thead>
    <th><%= Category.human_attribute_name(:id) %></th>
    <th><%= Category.human_attribute_name(:name) %></th>
    <th><%= Category.human_attribute_name(:parent_id) %></th>
    <th><%= Category.human_attribute_name(:created_at) %></th>
    <th><%= Category.human_attribute_name(:updated_at) %></th>
    <th colspan="3"></th>
  </thead>

  <% @categories.each do |category| %>
    <tbody>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td><%= category.parent_id %></td>
      <td><%= category.created_at %></td>
      <td><%= category.updated_at %></td>
      <td><%= link_to 'Show', admin_category_path(category) %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
      <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tbody>
  <% end %>
</table>
