<table>
  <tr>
    <td><%= Category.human_attribute_name(:id) %></td>
    <td><%= @category.id %></td>
  </tr>

  <tr>
    <td><%= Category.human_attribute_name(:name) %></td>
    <td><%= @category.name %></td>
  </tr>

  <tr>
    <td><%= Category.human_attribute_name(:parent_id) %></td>
    <td><%= @category.parent_id %></td>
  </tr>

  <tr>
    <td><%= Category.human_attribute_name(:properties) %></td>
    <td><%= @category.properties.keys.join(',') %></td>
  </tr>

  <tr>
    <td><%= Category.human_attribute_name(:created_at) %></td>
    <td><%= @category.created_at %></td>
  </tr>

  <tr>
    <td><%= Category.human_attribute_name(:updated_at) %></td>
    <td><%= @category.updated_at %></td>
  </tr>
</table>
